@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat",sans-serif;
}

// Variables;
@import "../scss/components/variable";

// components
@import "../scss/components/stepper";
@import "../scss/components/typography";
@import "../scss/components/testimonials";
@import "../scss/components/carousel";
@import "../scss/components/footer";
@import "../scss/components/map";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  .navbar-fixed img {
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  main {
    flex: 1 0 auto;
  } 
  .date {
    color: $secondaryColor;
  }
  .sub-buttom {
    background-color: #f3b41b;
    &:hover {
      background-color: #c99208;
    }
  }
  .btn-large {
    margin-top: 70px;
    width: 200px;
    height: 50px;
    background: $primaryColor;
    &:hover {
      background-color: #c99208;
    }
  }
  .section-follow {
    background: $gradientColor;
    margin-top: 30px;
    .material-icons {
      margin: 5px 10px;
    }
    .fa-5x {
      margin: 30px;
    }
  }
  .after-video {
    width: 67%;
    margin: auto;
    padding-top: 20px;
    font-size: 16px;
  }
  .gallery-ship {
    margin: 50px 0 20px 0;
  }
}
// help section
.help-more {
  padding-bottom: 30px;
}
// activator pointer
.activator {
  cursor: pointer;
}
// pinned menu
.pinned {
  padding-left: 55px;
  .active{
    font-size: 20px;
  }
}
// column article
.column {
  float: left;
  width: 50%;
}
// clear floats 
.row:after {
  content: "";
  display: table;
  clear: both;
}
// our video style
.video-our {
  margin-top: 80px;
}
@media only screen and (max-width: 600px) {
.video-our iframe{
  width: 90%;
}
}
