.page-footer{
    background: $gradientColor;
    .designed-by {
      margin-right: 15px;
    }
    .fa-2x {
      margin: 3px;
    }
    h5 {
      margin-top: -50px;
      font-size: 30px;
    }
    .move {
      padding-top: 10px;
      font-size: 25px;
    }
    
  }