
// 1. Colors
// ==========================================================================

$primaryColor: #f3b41b;
$secondaryColor: #25266B;
$gradientColor: linear-gradient(black, rgba(0, 22, 37, 0.85));
$howerColor:#c99208;